.card {
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


body {
    background-color: #eeeeee;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

.pageNumbers {
    list-style: none;
}

.pageNumber {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 0.2em;
    text-decoration: none;
}

.pageNumber:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.activePage {
    background-color: black;
    color: white;
}